.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: white;
  text-align: left;
  list-style: none;
  background-color: #232f3c;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.table.tbl-tablefy {
}

table-striped {
}

thead {
  background-color: rgb(28,54,84);
  color: white;
  font-size: 12px;
}

tbody {
  color: rgb(205,205,205);
  font-size: 12px;
}

.table td {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.table thead th {
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-left: 5px;
  font-size: 14px;
}

.h-title {
  color: rgb(218,218,218);
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.h-subtitle {
  color: rgb(157,160,163);
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.frm-search {
  font-size: 12px;
}

.col-index {
  max-height: 70vh;
  border: 1px solid rgb(120,120,120) ;
  border-radius: 15px;
  max-width: 495px;
  padding-right: 5px;
  padding-left: 5px;
}

.row-app {
}

.col-application {
}

.pag-dtcc {
  background: #444444;
  color: #f2f5f8;
  border-style: none;
}

.pag-dtcc {
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #dee2e6;
  background-color: #363739;
  border: 0px solid;
}

.page-link:hover {
  z-index: 2;
  color: #214a80;
  text-decoration: none;
  background-color: #787878;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #787878;
}

.page-item.disabled .page-link {
  color: #787878;
  pointer-events: none;
  cursor: auto;
  background-color: #555555;
  border-color: #dee2e6;
}

.span-form {
  background: #cccccc;
  color: #363739;
  max-width: 85px;
  width: 100px;
  border: 1px solid #aaaaaa ;
}

.document-form {
  background: #f2f5f8;
  Color: #1f2021;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  border-width: 1px;
}

.igroup-read {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.igroup-read-input {
  border: 1px solid #aaaaaa ;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  background-color: #fff;
}

.span-textarea {
  background: rgb(204,204,204);
  border: 1px solid rgb(54,55,57);
  border-bottom-style: none;
}

.span-approved {
  background: rgb(0,133,0);
  color: #f2f5f8;
  font-size: 24px;
}

.container-result {
  margin-top: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #dee2e6;
  background-color: #214a80;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background: #1c3654;
  border: 1px solid #e9ecef ;
  color: #e9ecef;
}

.span-ignored {
  background: rgb(101,101,101);
  color: #f2f5f8;
  font-size: 24px;
}

